.adminCart {
    display: inline-block;
    width: 400px;
    height: 700px;
    background-color: rgb(212, 230, 236);
    border: black 1px solid;
}
.bt {
  position: relative;
  left: 93%;
  top: 1%;
  border: none;
}

.form-admin {
    position: relative;
    left: 33%;
    border: none;
}